 /* Full screen container */
.auth-container {
  width: 100vw;       /* take full width */
  height: 100vh;      /* take full height */
  overflow: hidden;   /* hide scroll */
  
  display: flex;
  justify-content: center;
  align-items: center;

  /* Instagram-like animated gradient */
  background: linear-gradient(135deg, #4c68d7, #e1306c, #fdcb30);
  background-size: 200% 200%;
  animation: gradientMove 6s ease infinite;
}

/* Center card */
.auth-card {
  width: 380px;
  padding: 35px;
  border-radius: 20px;
  background: white;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
